body{
	background-color: #76ABDF;
}
.card{
	margin: 35px;
	padding-left: 0;
	padding-right: 0;
}
 
.navbar-nav a{
	font-weight:bold;
}

.navbar-nav .nav-link:hover{
	color: white;
}
table a{
	color: white;
	text-decoration: none;
}

@media (max-width: 576px){
	a.navbar-brand {
		font-size: 0.9rem;
	}
}






